.bgShadow{
    background-image: url(../images/dash-shadow.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}


#closeIcon{
    left: 10%;
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}
div#imagePreviewContainer{
    position: relative;
}

.bg_dark {
    background-color: #01040A;
}

.bg_light_dark {
    background-color: #021F11;
}

.bg_light {
    background-color: #20BF0E;
}

.border-light {
    border: 2px solid #20BF0E;
}
.flex.items-center.gap-4:first-child a.add_sub_cons_btn, .flex.items-center.gap-4:first-child a.add_sub_btn {
    margin-top: 0 !important;
}
a.add_sub_cons_btn, a.add_sub_btn {
    margin-top: 5px !important;
    display: block;
}
.textarea_editor
{
background-color:#fff;
}
/* MR CSS START */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #cbcbcb;
}
::-webkit-scrollbar-thumb {
    background: #ABABAB;
}
.tabsScroll::-webkit-scrollbar {
    height: 3px; /* Horizontal scrollbar */
}
.tabsWrapper [aria-selected="true"] {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
    border: none !important;
}
.tabsWrapper button:hover {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
    border: none !important;
}
.genericTable tbody tr:last-child {
    border-bottom: none;
}
@media (max-width: 1536px) {
    br {
        display: none;
    }
}
/* MR CSS END */

